*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  text-align: center;
}

.calculator {
  width: 900px;

  border: 2px solid black;
  margin: 5px;
}

.calculate-button {
  width: 40px;
  height: 25px;
  text-align: center;
  background-color: darkorange;
  border: 1px solid black;
  margin: 2px;
  padding: 10px;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.inputs {
  display: grid;
  grid-template-columns: 6fr 1fr 6fr 1fr;
  grid-template-rows: 60px 120px 100px;
  text-align: left;
  border: 1px solid black;
  width: 90%;
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.result {
  text-align: left;
  border: 1px solid black;
  width: 150px;
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.calc-underlined {
  text-decoration: underline;
  margin: 0px;
  padding: 0px;
}
.calc-result {
  text-decoration: overline;
  margin: 2px;
  padding: 0px;
}

.calc-write {
  margin: 2px;
  padding: 0px;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}
