*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  text-align: left;
}
p {
  margin: 5px;
}
.calculator {
  width: 1024px;

  border: 2px solid black;
  margin: 5px;
}

.calculate-button {
  width: 40px;
  height: 25px;
  text-align: center;
  background-color: darkorange;
  border: 1px solid black;
  margin: 2px;
  padding: 5px;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.select-button {
  width: 220px;
  height: 40px;
  text-align: center;
  background-color: darkorange;
  border: 1px solid black;
  margin: 2px;
  padding: 5px;
  font-size: 1rem;
  line-height: 1.2rem;
}

.inputs {
  display: grid;
  grid-template-columns: 7fr 1fr 7fr 1fr;
  grid-template-rows: 70px 120px 100px;
  text-align: left;
  border: 1px solid black;
  width: 95%;
  margin: 10px;
  padding: 5px;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.result {
  text-align: left;
  border: 1px solid black;
  width: 150px;
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.calc-underlined {
  text-decoration: underline;
  margin: 2px;
  padding: 2px;
  text-align: right;
}
.calc-result {
  text-decoration: overline;
  margin: 2px;
  padding: 2px;
  text-align: right;
}

.calc-write {
  margin: 2px;
  padding: 2px;
  text-align: right;
}
h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}
